<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sankara"
        android:usesCleartextTraffic="true">

        <service
            android:name=".MediaNotificationListener"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".DisplayDiscoveryActivity"
            android:exported="false"
            android:parentActivityName=".SettingsActivity" />

        <activity
            android:name=".ImageCropActivity"
            android:exported="false"
            android:parentActivityName=".ImageEditActivity" />

        <activity
            android:name=".ImageEditActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ImagePreviewActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".CardStudioActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".NfcFlasher"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity
            android:name=".TextEditor"
            android:exported="false" />

        <activity
            android:name=".WysiwygEditor"
            android:exported="false" />

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:exported="true"
            android:theme="@style/Theme.Sankara.Crop"
            tools:replace="android:exported,android:theme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>
    </application>

</manifest>
